{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptionController!{% endblock %}

{% block body %}
{#    <style>#}
{#        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
{#        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
{#    </style>#}

    <div class="example-wrapper">
        <strong>Vous avez atteint la limite de génération de pdf, améliorez votre abonnement pour continuer.</strong><br />
        <h1>Abonnements :</h1>
        <br />

        <ul>
            {% for subscription in subscriptions %}
                <li>
                    <strong>{{ subscription.getTitle() }}</strong>
                    <br />
                    <span>{{ subscription.getDescription() }}</span>
                    <span>Générations: <b>{{ subscription.getPdfLimit() }}</b></span>
                    <span>Prix: <b>{{ subscription.getPrice() }}€</b></span>
                    <br />
                    <form action="{{ path('update_subscription', {id: subscription.getId()}) }}" method="post">
                        <button type="submit">Souscrire</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}