{% extends 'base.html.twig' %}

{% block title %}User Page{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="user-back">
        <div class="user-container">
            <div class="user-info">
                <img src="./user.png" alt="User Image">
                <h1>{{ app.user.firstname }} {{ app.user.lastname }}</h1>
                <p>Email: {{ app.user.email }}</p>
            </div>

            <div class="user-subscription">
                <h2 class="user-subscription-title">{{ app.user.subscriptionId.title }}</h2>
                <p>PDF générable : {{ app.user.pdfLimit }}</p>
            </div>
        </div>
    </div>
{% endblock %}
